.css-p7bec2-MuiTypography-root {
  margin-left: 120px !important;
}

.css-130f8nx {
  margin-right: 63px;
}

.css-selector {
  background: linear-gradient(55deg, #15205d, #111211);
  background-size: 400% 400%;

  -webkit-animation: AnimationName 2s ease infinite;
  -moz-animation: AnimationName 2s ease infinite;
  animation: AnimationName 2s ease infinite;
}

@-webkit-keyframes AnimationName {
  0% {
    background-position: 84% 0%
  }

  50% {
    background-position: 17% 100%
  }

  100% {
    background-position: 84% 0%
  }
}

@-moz-keyframes AnimationName {
  0% {
    background-position: 84% 0%
  }

  50% {
    background-position: 17% 100%
  }

  100% {
    background-position: 84% 0%
  }
}

@keyframes AnimationName {
  0% {
    background-position: 84% 0%
  }

  50% {
    background-position: 17% 100%
  }

  100% {
    background-position: 84% 0%
  }
}

.footer {
  background-image: url(https://png.pngtree.com/thumb_back/fw800/background/20220127/pngtree-program-code-layers-on-a-black-background-unveiling-the-software-source-code-photo-image_27459526.jpg);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 100px;

}

.icons {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.address {

  background-color: white;
  padding: 30px;
  opacity: 0.7;

}
.css-1kkpk3h-MuiButtonBase-root-MuiButton-root:hover{
  border-bottom: 1px solid blue;
  transition: 0.5s;
  color: blue;
}
.css-p7bec2-MuiTypography-root:hover{
  color: blue;

}
.button {
  background-color: #c2db2e;
  padding: 10px;
  border-radius: 100%;
}
.button:hover{
  background-color: white;
  color: blue;
}
